:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

#app {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 
    "header"
    "main"
    "footer";
  gap: 1rem;
  height: 100%;
  padding-top: 1rem;
  text-align: center;
  transition: all 200ms ease-in-out;
}

header {
  grid-area: header;
}

h1 {
  font-size: 1.6rem;
}

main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-size: 1.2rem;
  min-height: 100vh;
}

ul li {
  list-style: none;
}

a {
  color: #468ed2;
  font-size: 1.1rem;
  padding: 0.5rem;
}

a:focus,
a:hover {
  border-radius: 12px;
  color: #77a4ce;
  text-decoration: none;
  outline: 2px solid #d6d4d4;
}

#nav-tab {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.loader_infinite_spinner img {
  display: block;
  height: 300px;
  width: 300px;
}

.hide_loader_infinite_spinner {
  display: none;
}

.search_form_control {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 1rem;
  width: 100%;
}

.search_input_container {
  width: 100%;
}

#search_input_box {
  height: 20px;
  width: 100%;
  max-width: 80%;
  padding: 0.5rem;
  padding-left: 1rem;
  position: relative;
}

#clear_search {
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  font-size: 1.5rem;
  position: absolute;
  top: 435px;
  /* top: 372px; */
  right: 12vw;
}

#clear_search:focus,
#clear_search:hover {
  color: #bc334c;
  /* color: #bc3367; */
}

.search_movie_list_item {
  display: flex;
  align-items: center;
}

.search_movie_list_item_thumbnail img {
  margin-right: 1rem;
  width: 40px;
}

.search_movie_list_item_title h3 {
  font-size: 1rem;
  font-weight: 600;
}

.search_movie_list_item_year p {
  font-size: 0.8rem;
  font-weight: 600;
  margin-left: 1rem;
  opacity: 0.7;
}

.search_result_movies_container,
.display_movie_list_container {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  height: 100%;
  width: 100%;
  max-width: 90%;
}

.movie_details_container {
  /* border: 2px solid green; */
}

.movie_list_item_image img {
  height: 500px;
  width: 100%;
  object-fit: fill;
}

.search_result_container_movie_poster img {
  height: 500px;
  width: 100%;
  object-fit: fill;
}

.search_result_container_movie_info {
  padding: 0 0.5rem;
}

.awards img {
  height: 50px;
  width: 50px;
}

.favorite_movie_button {
/* .display_movie_list_container button { */
  background-color: #bab6b6;
  border: 2px solid transparent;
  border-radius: 20px;
  color: #000;
  cursor: pointer;
  font-size: 0.9rem;
  height: 40px;
  width: 100px;
  outline: none;
  transition: all 200ms ease-in-out;
}

.favorite_movie_button:focus,
.favorite_movie_button:hover {
  background-color: #767575;
  color: #fff;
}

#goToTop {
  display: none;
  background-color: #bab6b6;
  border: 2px solid transparent;
  border-radius: 20px;
  color: #000;
  cursor: pointer;
  height: 30px;
  width: 100px;
  position: fixed;
  bottom: 170px;
  right: 30px;
  outline: none;
  transition: all 200ms ease-in-out;
}

#goToTop:focus,
#goToTop:hover {
  background-color: #767575;
  color: #fff;
}

.hide_element {
  display: none;
}

.favorite_movie_button_clicked {
  /* background-color: coral; */
  background-color: coral !important;
}

footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

footer a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

footer img {
  height: 50px;
  width: 50px;
  filter: invert(1);
}

/* Media query for desktop */
@media only screen and (min-width: 768px) {
  #app {
    margin: 0 auto;
  }

  #nav-tab {
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
    max-width: 52%;
  }

  #search_input_box {
    max-width: 50%;
  }

  #clear_search {
    top: 260px;
    /* top: 227px; */
    right: 26vw;
  }

  .search_result_container_movie_info {
    max-width: 800px;
  }

  .search_result_movies_container,
  .display_movie_list_container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .movie_list_item_image img {
    /* height: 500px; */
    width: 400px;
  }

  .search_result_container_movie_poster img {
    height: 50%;
    width: 50%;
  }
  
  .movie_list_item_title {
    max-width: 400px;
  }

  #goToTop {
    bottom: 50px;
    right: 60px;
  }

  footer {
    flex-direction: row;
  }
}
