:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

#app {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 
    "header"
    "main"
    "footer";
  gap: 1rem;
  height: 100%;
  width: 100%;
  padding-top: 1rem;
  text-align: center;
  transition: all 200ms ease-in-out;
}

header {
  grid-area: header;
}

h1 {
  font-size: 1.6rem;
}

main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-size: 1.2rem;
  min-height: 100vh;
}

ul li {
  list-style: none;
}

a {
  color: #76b6f1;
  font-size: 1.1rem;
  padding: 0.5rem;
}

a:focus,
a:hover {
  border-radius: 12px;
  color: #c0d3e3;
  text-decoration: none;
  outline: 2px solid #d6d4d4;
}

#nav-tab {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 70%;
}

#main_title_section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.loader_infinite_spinner img {
  display: block;
  height: 300px;
  width: 300px;
}

.hide_loader_infinite_spinner {
  display: none;
}

.search_form_control {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 1rem;
  width: 100%;
}

.search_input_container {
  width: 100%;
  position: relative;
}

#search_input_box {
  font-size: 1.2rem;
  height: 50px;
  width: 100%;
  max-width: 80%;
  padding: 0.5rem;
  padding-left: 1rem;
}

#search_input_box::placeholder {
  font-size: 1rem;
  opacity: 0.9;
}

#clear_search {
  background-color: transparent;
  border: none;
  border-radius: 50px;
  outline: none;
  color: #fff;
  cursor: pointer;
  font-size: 1.5rem;
  position: absolute;
  top: 0px;
  right: 6vw;
  width: 50px;
  height: 50px;
}

#clear_search:focus,
#clear_search:hover {
  background-color: #d69bcd;
  color: #904284;
}

.search_movie_list_item {
  display: flex;
  align-items: center;
}

.search_movie_list_item_thumbnail img {
  margin-right: 1rem;
  width: 40px;
}

.search_movie_list_item_title h3 {
  font-size: 1rem;
  font-weight: 600;
}

.search_movie_list_item_year p {
  font-size: 0.8rem;
  font-weight: 600;
  margin-left: 1rem;
  opacity: 0.7;
}

.search_result_movies_container,
.display_movie_list_container {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem;
  height: 100%;
  /* width: 100%; */
}

.movie_list_item_image img {
  height: 500px;
  width: 100%;
  object-fit: fill;
}

.search_result_container_movie_poster img {
  height: 500px;
  object-fit: fill;
}

.search_result_container_movie_info {
  padding: 0 0.5rem;
}

.awards img {
  height: 50px;
  width: 50px;
}

.favorite_movie_button {
  background-color: #bab6b6;
  border: 2px solid transparent;
  border-radius: 20px;
  color: #000;
  cursor: pointer;
  font-size: 0.9rem;
  height: 40px;
  width: 100px;
  outline: none;
  transition: all 200ms ease-in-out;
}

.favorite_movie_button:focus,
.favorite_movie_button:hover {
  background-color: #767575;
  color: #fff;
}

#goToTop {
  display: none;
  background-color: #904284;
  border: 2px solid transparent;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  height: 30px;
  width: 100px;
  position: fixed;
  bottom: 170px;
  right: 30px;
  outline: none;
  transition: all 200ms ease-in-out;
}

#goToTop:focus,
#goToTop:hover {
  background-color: #767575;
  color: #fff;
  background-color: #d69bcd;
  color: #000;
}

.hide_element {
  display: none;
}

.favorite_movie_button_clicked {
  background-color: coral !important;
}

footer {
  grid-area: footer;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

footer a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

footer img {
  height: 50px;
  width: 50px;
  filter: invert(1);
}

/* Media query for mobile */
@media only screen and (max-width: 768px) {
  main {
    padding: 0 1rem;
  }
  
  #app {
    margin: 0 auto;
  }

  #nav-tab {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-width: 100%;
  }

  #search_input_box {
    max-width: 100%;
  }

  #clear_search {
    right: 6vw;
  }

  .search_result_movies_container,
  .display_movie_list_container {
    flex-direction: column;
    justify-content: center;
  }

  .search_result_container_movie_poster img {
    height: 50%;
    width: 50%;
  }
  
  #goToTop {
    bottom: 70px;
    right: 20px;
  }

  footer {
    flex-direction: column;
  }
}

/* Media query for large screen */
@media only screen and (min-width: 1800px) {
  body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
  }
}
