:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

body {
  margin: 0;
}

#app {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 
    "header"
    "main"
    "footer";
  gap: 1rem;
  height: 100%;
  text-align: center;
  transition: all 200ms ease-in-out;
}

header {
  grid-area: header;
}

h1 {
  font-size: 1.6rem;
}

main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-size: 1.2rem;
  min-height: 100vh;
}

ul li {
  list-style: none;
}

#nav-tab {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.search_form_control {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 1rem;
  width: 100%;
}

.search_input_container {
  width: 100%;
}

#search_input_box {
  height: 20px;
  width: 100%;
  max-width: 80%;
  padding: 0.5rem;
  position: relative;
}

#clear_search {
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  font-size: 1.5rem;
  position: absolute;
  top: 372px;
  /* top: 392px; */
  /* top: 216px; */
  right: 12vw;
}

#clear_search:focus,
#clear_search:hover {
  color: #bc3367;
}

.search_result_dropdown_list {
  background-color: #5e5d5d;
  position: absolute;
  top: 410px;
  /* top: 430px; */
  /* top: 260px; */
  left: auto;
  max-height: 500px;
  width: 100%;
  /* max-width: 80%; */
  max-width: 85%;
  overflow-y: scroll;
  z-index: 1;
}

.search_result_dropdown_list .search_movie_list_item {
  color: #fff;
  cursor: pointer;
  padding: 0.5rem;
}

.search_result_dropdown_list .search_movie_list_item:hover {
  background-color: lightBlue;
}

.search_movie_list_item {
  display: flex;
  align-items: center;
}

.search_movie_list_item_thumbnail img {
  margin-right: 1rem;
  width: 40px;
}

.search_movie_list_item_title h3 {
  font-size: 1rem;
  font-weight: 600;
}

.search_movie_list_item_year p {
  font-size: 0.8rem;
  font-weight: 600;
  margin-left: 1rem;
  opacity: 0.7;
}

.display_movie_list_container {
  /* border: 2px solid red; */
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* justify-content: space-between; */
  gap: 1rem;
  height: 100%;
  width: 100%;
  max-width: 90%;
}

.search_result_container {
  /* border: 2px solid green; */
}

.movie_list_item_image img {
  height: 500px;
  width: 100%;
  object-fit: fill;
}

.search_result_container_movie_poster img {
  height: 500px;
  width: 100%;
  object-fit: fill;
}

.search_result_container_movie_info {
  padding: 0 0.5rem;
}

.awards img {
  height: 50px;
  width: 50px;
}

.hide_search_result_dropdown_list {
  display: none;
}

footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

footer a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

footer img {
  height: 50px;
  width: 50px;
}

/* Media query for desktop */
@media only screen and (min-width: 768px) {
  #app {
    margin: 0 auto;
  }

  #nav-tab {
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
    max-width: 52%;
  }

  #search_input_box {
    max-width: 50%;
  }

  .search_result_dropdown_list {
    top: 264px;
    /* top: 280px; */
    max-width: 51.5%;
  }

  #clear_search {
    top: 227px;
    /* top: 242px; */
    /* top: 194px; */
    right: 26vw;
  }

  .search_result_container_movie_info {
    max-width: 800px;
  }

  .display_movie_list_container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .movie_list_item_image img {
    /* height: 500px; */
    width: 400px;
  }

  .search_result_container_movie_poster img {
    height: 50%;
    width: 50%;
  }
  
  .movie_list_item_title {
    max-width: 400px;
  }

  footer {
    flex-direction: row;
    /* flex-wrap: no-wrap; */
  }
}
